<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <h1>Portfolio</h1>
  <article class="page">
    
    <div class="article-wrap">
      <h3>dinnerordrinks</h3>
      <p><a href="http://dinnerordrinks.herokuapp.com" target="_blank">dinnerordrinks</a> is a social event planning app that aims to make organising meetups with friends as simple as possible. The idea behind the app was to try and address two fundamental issues with trying to organise events: deciding when and where the event should take place.</p>
      <figure>
        <img src="../images/dinnerordrinks_screenshot.png">
        <figcaption>Landing page of dinnerordrinks</figcaption>
      </figure>
            
      <p><a href="http://shehryarriaz.com" target="_blank">Shehryar Riaz</a> and I decided to build this app together as we both found it difficult trying to coordinate the busy schedules among our friend groups and tried to understand why this was so tricky. The resultant thought was 'Why don't we make an app to solve that?' Given the social aspect of the app, we decided to design the app mobile-first so that dinnerordrinks could be accessed on the go.</p>
      <p>This app was built in two weeks as part of my time as a student in General Assembly's Web Development Immersive (WDI) course after ten weeks of coding.</p>
      <br/>
      <p><a href="https://github.com/shehryarriaz/when_where" target="_blank">dinnerordrinks on Github</a></p>
    </div>
    
    <div class="article-wrap">
      <h3>cheerup.me</h3>
      <p><a href="http://cheerupme.herokuapp.com" target="_blank">cheerup.me</a> is a Twitter-like web app wherein users can post and share 'Cheerups' - 141 character messages to brighten people's days. They can also vote on their favourite (or least favourite) cheerups which will then affect the prominence of the poster.</p>
      <figure>
        <img src="../images/cheerups_home.png">
        <figcaption>cheerup.me homepage</figcaption>
      </figure>
      <p>This app was built in a week as a group project with <a href="http://katemont.com" target="_blank">Kate Montgomery</a> and <a href="https://github.com/aduddella" target="_blank">Anand Duddella</a> after seven weeks of coding in General Assembly's WDI course.</p>
      <br/>
      <p><a href="https://github.com/stefanielim/Cheerups_Project_2" target="_blank">cheerup.me on Github</a></p>
    </div>

    <div class="article-wrap">
      <h3>T<sup>3</sup></h3>
      <p>T<sup>3</sup> is a tic-tac-toe web app I built in one week after only four weeks of coding at the WDI course. Users can log in and play against another user (or the computer) and select the grid size of their choice.</p>
      <figure>
        <img src="../images/T3_game.png">
        <figcaption>An ongoing game of 5x5 tic-tac-toe at T<sup>3</sup>.</figcaption>
      </figure>
      <p>What I enjoyed most about creating the app was challenging myself to figure out a way to dynamically determine a game's win conditions so that the app can work with (theoretically) any grid size, rather than just hard coding, say, the standard win conditions of a 3x3 grid.</p>
      <br/>
      <p><a href="https://github.com/stefanielim/WDI_Project_1" target="_blank">T<sup>3</sup> on Github</a></p>
    </div>
  </article>

    
  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>